.btn-custom {
    width: 100%;
}

@media (min-width: 768px) {
    .my-custom-container{
        width:400px;
    }
}
    
@media (min-width: 992px) {
    .my-custom-container{
        width:400px;
    }
}
    
@media (min-width: 1200px) {
    .my-custom-container{
        width:400px;
    }
}
