
.alert_custom {
    display: none;
}

.btn-custom {
    width: 100%;
}

.alert_plano_custom {
    padding: 0.5rem 0.5rem; 
}

@media (min-width: 768px) {
    .my-custom-container{
        width:400px;
    }
}
    
@media (min-width: 992px) {
    .my-custom-container{
        width:400px;
    }
}
    
@media (min-width: 1200px) {
    .my-custom-container{
        width:400px;
    }
}
